<section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">All products</h1>
              <p>
              </p>
            </div>
          </div>
        </section>
        <div class="container">
       
        </div>

        
  <div class="container">
    <div class="row">
        <% for (var i = 0; i < products.length; i++) { %>
           <div class="card mb-3" style="">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/images/uploaded/<%=products[i].image %>" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%- products[i].name %> </h5>
                  <p class="card-text"> Price  :<%- products[i].price %> </p>
                  <p class="card-text">Brand  :<%- products[i].brand %> </p>
                  <p class="card-text">Color :<%- products[i].color %> </p>
                
                  <a href="/add-cart/<%=products[i]._id %>" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
            </div>
          </div>
        <% } %>
    </div>
    <div class="pagination">
        <% if (pages > 0) { %>
            <ul class="pagination text-center">
                <% if (current == 1) { %>
                    <li class="disabled btn btn-info"><a>First</a></li>
                <% } else { %>
                    <li class="btn btn-info"><a href="/products/1">First</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="active btn btn-primary"><a><%= i %></a></li>
                    <% } else { %>
                        <li><a href="/products/<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <li class="disabled btn btn-info"><a>Last</a></li>
                <% } else { %>
                    <li class="btn btn-info"><a class="btn" href="/products/<%= pages %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>
    </div>
</div>


